<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>個人簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;font-size:20px}
		h1 {color:black; font-size:60px;}
		h2 {color:brown; font-size:40px;}
		h3 {color:blue; font-size:30px;}
	</style>
	<style>
		h1{text-align:right}
		h2{text-align:right}
		h3{text-align:center}
		h4{text-align:right}
	</style>

	<script>
		function change1() {
  			document.getElementById("pic").src = "https://www1.pu.edu.tw/~s1100411/picture/rabbit1.jpg";
  			document.getElementById("h2text").innerText = "靜宜大學/資管系";
		}

		function change2() {
  			document.getElementById("pic").src = "https://www1.pu.edu.tw/~s1100411/picture/rabbit2.jpg";
  			document.getElementById("h2text").innerText = "游欣婕HSIN-JIE YU";
		}
	</script>


</head>
<body>
	<table width="70%">
		<tr>
			<td>
		<img src="https://www1.pu.edu.tw/~s1100411/picture/rabbit1.jpg" width="90%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
	</td>>

<div class="textbox">
		<h2 id="h2text">游欣婕HSIN-JIE YU</h2><br>

</tr>
</table>
<table width="100%" border="1">
<tr>
	<td>
	<h3>About me</h3>
		學校:靜宜大學<br>
		系級:資管二A<br>
		學號:411146295<br>
	<h3>Contact</h3>
		Tel: 0916400296<br>
		E-Mail: cynthia381@gmail.com<br>
	</td>

	<td>
		<h3>推薦音樂</h3>
	<audio controls>
		<source src="https://www1.pu.edu.tw/~s1100411/picture/kidult.mp3" type="audio/mP3">
	</audio><br>
	<h4>Seventeen-kidult</h4><br>
	</td>

	<td>
	<h3>經典佳句</h3>
	“快樂是我們活著的目的。” - 達賴喇嘛 Dalai Lama<br>
	</td>
</tr>
</table>

</body>