<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職涯測驗分析</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;font-size:20px}
		h1 {color:black; font-size:70px;}
		h2 {color:blue; font-size:30px;}
		
	</style>
	<style>
		h1{text-align:center}
		h2{text-align:center}
	</style>



</head>
<body>
	<table width="70%">
		<tr>
			<td>
		<img src="https://www1.pu.edu.tw/~s1100411/picture/ucan.jpg"width="60%"></img>
	</td>>

<div class="textbox">
	<h1>測驗結果</h1><br>
	
</tr>
</table>
<table width="100%" border="1">
<tr>
	<td>
	<h2>基本資訊</h2>
		學校:<br>
		靜宜大學<br>
		科系:<br>
			資訊管理學系<br>
		姓名:<br>
			游欣婕<br>
	</td>

	<td>
		<h2>UCAN 16職涯類型歷次診斷結果</h2>
			<img src="https://www1.pu.edu.tw/~s1100411/picture/radar.jpg"width="100%"></img>
	</td>

	<td>
	<h2>職業性格類型(Holland Code)</h2>
	<img src="https://www1.pu.edu.tw/~s1100411/picture/compare.jpg"width="100%"></img>
	</td>

	<td>
	<h2>其他相關網站(cpas)</h2><br>
		<a href="https://reurl.cc/9R9ZKd">https://reurl.cc/9R9ZKd</a><br>
	</td>
</tr>
</table>

</body>